//output: ../../app/index.html
doctype html
html(lang="utf-8")
  head  
    link(rel="stylesheet", type="text/css", href="src/assets/icons/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="src/css/client.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    #reflow
    script(src="src/js/client.min.js")
