#selector
  width: 370px
  height: 370px
  border-radius: 50%
  background-color: map-get($blue, 'main')
  position: absolute
  top: 0
  left: 50%
  transform: translate(-50%, 0)	

  #selector-stage
    width: 250px
    height: 250px
    position: absolute
    top: 60px
    left: 60px