body, html
  padding: 0
  margin: 0
  -webkit-user-select: none
  cursor: default
  font-family: Roboto

body
  width: calc(100% - 2px)
  height: calc(100vh - 2px)
  #reflow
    position: relative
    width: 100%
    height: 100%
    overflow: hidden

.window-blur
  border: 1px solid #1A1A1A !important

.window-focus
  border: 1px solid #0E4d7F !important

.window-full-screen
  border: 1px solid $blue-background !important

.disable
  pointer-events: none !important

/* Modal animations */
.fade-enter
  opacity: 0

.fade-enter.fade-enter-active
  opacity: 1
  transition: 250ms all ease
  transition-delay: 250ms

.fade-leave
  opacity: 1

.fade-leave.fade-leave-active
  opacity: 0
  transition: 250ms all ease

.slide-enter
  opacity: 0
  left: 200px

.slide-enter.slide-enter-active
  opacity: 1
  left: 0
  transition: 250ms all ease
  transition-delay: 250ms

.slide-leave
  opacity: 1
  left: 0

.slide-leave.slide-leave-active
  opacity: 0
  left: -200px
  transition: 250ms all ease