#progress
  width: 500px
  height: 80px
  margin: auto
  padding: 20px 0
  display: flex
  flex-direction: column
  position: relative
  #steps
    display: flex
    justify-content: space-between
    position: relative
    z-index: 1
    