.configure
	.viewer
		width: 1000px
		height: 530px
		position: absolute
		top: 50%
		right: 75px
		transform: translate(0, -50%)
	
	.breaker
    width: 250px
    height: 5px
		
	@import './containers/attributes/attributes.sass'
	@import './containers/files/files.sass'
	@import './containers/options/options.sass'
	@import './containers/tags/tags.sass'

