.container.configure
	display: flex
	justify-content: center
	align-items: center
	.config
		width: 1040px
		height: 460px
		display: flex
		flex-wrap: wrap
		align-content: space-between		
		.top-panel
			width: 1040px
			height: 360px
			display: flex
			justify-content: space-between
			.files
				width: 740px
				height: 360px
			.side
				width: 260px
				height: 360px
				display: flex
				flex-wrap: wrap
				align-content: space-between				
				.attr, .options
					width: 260px
					height: 170px
		.bottom-panel
			width: 1040px
			height: 80px


