.container.configure
	display: flex
	justify-content: center
	align-items: center
	.config
		width: 1040px
		height: 460px
		display: flex
		flex-wrap: wrap
		align-content: space-between		
		.top-panel
			width: 1040px
			height: 366px
			display: flex
			justify-content: space-between
			.files
				width: 740px
				height: 366px
				.search-bar
					width: 100%
					height: 26px
					background-color: $blue-highlight
					.search
						width: 610px
						height: 26px
						outline: none
						background-color: $blue-highlight
						font-size: 12px
						color: #FFF
						font-family: Esphimere
						border: none
						margin: 0
						padding: 0 0 0 10px
						&::-webkit-input-placeholder
							color: $gray
							font-size: 12px
							font-family: Esphimere
					.filters
						width: 120px
						height: 26px
						background-color: $blue-filters
						outline: none
						border: none
						padding: 0 0 0 10px
						margin: 0
						font-size: 12px
						font-familty: Esphimere
						text-align: left
						cursor: pointer
						transition: all 400ms ease
						color: $gray
						&:hover
							color: $yellow
				.sort-list
					width: 100%
					height: 33px
					border-bottom: 1px solid $blue-highlight
					display: flex
					.sort
						height: 100%
						.label
							height: 100%							
							font-family: Esphimere
							transition: all 400ms ease
							cursor: pointer
							display: inline-block
							color: $gray
							&:hover
								color: #FFF
							.name, .icon
								float: left
								height: 100%
								line-height: 41px
							.name
								font-size: 12px								
								padding-right: 7px
								&.active
									color: #FFF								
							.icon
								font-size: 9px
								transition: transform 400ms ease-in-out
								transform-origin: 4.5px 20px
								&.up
									color: $yellow
								&.down
									color: $yellow
									transform: rotate(180deg)
					 &.type
					 	padding-left: 15px
					 	width: 95px 
					 &.size
					 	width: 110px
					 &.original, &.new
					 	width: 260px
				.file-list
					width: 100%
					height: 300px
					margin: 6px 0 0 0
					padding: 0
					list-style: none
					overflow-y: scroll
					&::-webkit-scrollbar, &::-webkit-scrollbar-track
						width: 4px
						backround-color: transparent
						border: none
						padding: 0
						margin: 0
						outline: 0
					&::-webkit-scrollbar-thumb
						background-color: $blue-highlight
						border-radius: 30px
					li
						width: 730px
						height: 50px
						line-height: 50px
						font-size: 13px 
						display: flex
						cursor: pointer
						transition: all 400ms ease
						&:hover
							background-color: $blue-highlight
						.type
							width: 110px
							height: 100% 
							span
								width: 40px
								height: 17px
								display: inline-block
								background-color: $yellow
								border-radius: 5px
								margin-left: 15px
								color: $blue-highlight
								text-align: center
								line-height: 20px
								font-size: 10px							
								text-transform: uppercase
								font-family: Esphimere-Bold
						.size
							width: 100px
							height: 100%
						.original, .new
							width: 260px
							height: 100%
						.type 
			.side
				width: 260px
				height: 366px
				display: flex
				flex-wrap: wrap
				align-content: space-between				
				.attr, .options
					width: 260px
					height: 170px
		.bottom-panel
			width: 1040px
			height: 80px