#title
  position: absolute
  left: 0
  display: flex
  #logo
    width: 25px
    height: 25px
    margin-left: 10px
    margin-top: 2.5px
    background-image: url(../assets/logo/icon.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
  #status
    margin-left: 10px
    line-height: 30px
    font-size: 12px
    color: $gray
