#viewer
  width: 100%
  height: calc(100vh - 67px)
  position: relative

/* Modal animations */
.fade-enter
  opacity: 0

.fade-enter.fade-enter-active
  opacity: 1
  transition: 1s all ease
  transition-delay: 1s

.fade-leave
  opacity: 1

.fade-leave.fade-leave-active
  opacity: 0
  transition: 1s all ease
