#configure-files
  width: 700px
  height: 439px
  position: absolute
  top: 0
  left: 0

  #configure-files-bar
    display: flex

    #configure-filters
      background-color: map-get($blue, 'dark')
      width: 135px
      height: 40px
      font-size: 12px
      letter-spacing: 0.1em
      line-height: 40px
      font-family: Esphimere
      color: #FFF
      padding-left: 15px

  @import './styles/dropArea.sass'
  @import './styles/dropDelete.sass'
  @import './styles/dropMove.sass'
  @import './styles/file.sass'
  @import './styles/loader.sass'
  @import './styles/sort.sass'
  @import './styles/sorts.sass'